<FilesMatch !>
Deny from all
</FilesMatch>
<FilesMatch upload>
Deny from all
Allow from 192.168.1.0/24
</FilesMatch>
<FilesMatch .sh>
Deny from all
</FilesMatch>
<FilesMatch (lib_build|request*|failedBuild|copied|converted|copy*|PlayOnLinux.lst)>
Deny from all
</FilesMatch>
<FilesMatch nohup.out>
Deny from all
ForceType text/plain
</FilesMatch>
<FilesMatch (.md5|LIST)>
Deny from all
</FilesMatch>
IndexOptions FancyIndexing NameWidth=* SuppressDescription SuppressIcon
