<FilesMatch .tar>
Deny from all
</FilesMatch>
<FilesMatch .sh>
Deny from all
</FilesMatch>
<FilesMatch (lib_build|request*|failedBuild)>
Deny from all
</FilesMatch>
<FilesMatch .out>
Allow from all
ForceType text/plain
</FilesMatch>
ForceType text/plain
#DefaultType text/plain
IndexOptions FancyIndexing NameWidth=* SuppressDescription SuppressIcon
